* {
    margin: 0;
    padding: 0;
}

body {
    background-color: slategray;
}

label {
    justify-self: right;
}

#popForm {
    height: 500px;
    width: 420px;
    background-color: cornflowerblue;
    display: none;
}

.formDiv {
    margin-top: 1em;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: auto;
}

.formCheckDiv {
    margin-top: 1em;
    font-size: 24px;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: auto;
}