* {
    margin: 0;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: slategray;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
}

.headerDiv {
    grid-column: 1/11;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: sienna;
    color: ghostwhite;
}

.plusBtn {
    height: 50px;
    width: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

label {
    justify-self: right;
}

#popForm {
    height: 500px;
    width: 420px;
    background-color: cornflowerblue;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popFormFlex {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popTitle {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
    margin-top: 1em;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: auto;
}

.formCheckDiv {
    margin-top: 1em;
    font-size: 24px;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: auto;
}

.bottomBtnDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}